@font-face {
    font-family: 'Inter', sans-serif;
    src: url("/app/fonts/Inter-Regular.woff2") format("woff2"), url("/app/fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("/app/fonts/Inter-Medium.woff2") format("woff2"), url("/app/fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("/app/fonts/Inter-SemiBold.woff2") format("woff2"), url("/app/fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    color: #2C2C2C;
}

/*description===================================*/
.description {   
    background:  #3F78E3;
    background-image: url("../images/description.webp");
    background-size:contain;
    background-position:right;
    background-repeat: no-repeat;
    padding: 118px 0px 100px 0px;
    @media (max-width: 991.98px) {
        padding: 67px 0px 50px 0px;    
    }
    @media (max-width: 767.98px) {
        padding: 0px 0px 60px 0px;
        background-image: none;  
        background: none;
    }    
    &__img {
        display: flex;
        justify-content: end;        
        background:  #3F78E3;        
        @media (min-width: 767.98px) {
            display: none;
        }
        & img {
            width: 70%; 
        }
    }    
    &__header {
        display: inline-block;
        position: relative;
        & img {            
            position: absolute;
            bottom: 10px;
            right: -70px;    
            @media (max-width: 991.98px) {
                width: 64px;
                height: 64px;
                bottom: 15px;
                right: -30px; 
            }         
        }        
    }
    &__title {  
        display: inline-block;
        position: relative;        
        margin: 20px 0 48px 0;
        font-size: 64px;
        font-weight: 600;
        line-height: 64px; 
        color: #FFFFFF;  
        z-index: 10;     
        @media (max-width: 991.98px) { 
            margin: 0px 0 30px 0;
            font-size: 36px;
            line-height: 36px;            
        }
        @media (max-width: 767.98px) { 
            width: min-content;       
            margin: 15px 0 25px 0;
            color: #2C2C2C;
            font-size: 40px;
            line-height: 48px 
        }        
    }            
    &__text {
        margin: 0px 0 48px 0;
        width: 630px;
        color: #FFF;
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: -0.64px;
        @media (max-width: 991.98px) { 
            margin: 0px 0 30px 0;
            width: 330px;
            font-size: 20px;
            line-height: 26px;            
        }
        @media (max-width: 767.98px) {
            width: 100%;
            color: #2C2C2C;
            font-size: 18px;
            line-height: 27px;
        }
    }
    &__btn {
        padding: 15px 26px;        
        width: 350px;       
        border-radius: 40px;
        background-color: #FFF;        
        color: #2C2C2C;
        font-size: 24px;   
        font-weight: 500;
        line-height: 130%; 
        text-align:center;
        border: #3F78E3;         
        &:hover {
            background: #FECE00;
            box-shadow: 0px 4px 25px 0px rgba(44, 44, 44, 0.11);
            color: #2C2C2C;
        }         
        @media (max-width: 991.98px) {        
            width: 250px;               
            padding: 14px 25px;  
            font-size: 17px;           
        } 
        @media (max-width: 767.98px) {
            margin: 0 auto;
            display: block;
            background-color: #3F78E3; 
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
        }    
    }
}



/*welcome===================================*/
.welcome {
    padding: 100px 0;
    @media (max-width: 991.98px) {
        padding: 64px 0;
    }
    @media (max-width: 767.98px) {
        padding: 60px 0;
    }
    &__title {
        padding-bottom: 40px;
        margin: 0;
        width: 850px;
        font-size: 56px;
        font-weight: 600;
        line-height: 130%; 
        @media (max-width: 991.98px) {
            padding-bottom: 24px;
            width: 390px;
            font-size: 30px;
        }
        @media (max-width: 767.98px) {
            padding-bottom: 16px;
            width: 100%;
            font-size: 32px;
        }
    }
    &__text {
        padding-bottom: 30px;
        margin: 0;
        width: 850px;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%; 
        @media (max-width: 991.98px) {
            padding-bottom: 20px;
            width: 390px;
            font-size: 17px;
        }
        @media (max-width: 767.98px) {
            padding-bottom: 16px;
            width: 100%;
            font-size: 18px;
        }
    }
    &__standua {
        margin: 0;
        text-align: end;
        font-size: 32px;
        font-weight: 600;
        opacity: 0.4;
        line-height: 140%; 
        @media (max-width: 991.98px) {            
            font-size: 20px;
        }
    }
}


/*purpose===================================*/
.purpose {
    padding: 0 0 100px 0;
    @media (max-width: 991.98px) {
        padding: 0 0 64px 0;
    }
    @media (max-width: 767.98px) {
        padding: 60px 0;
    }
    &__container {
        position: relative;
        display: flex;
        gap: 140px;
        @media (max-width: 991.98px) {
            gap: 90px;
        }
        @media (max-width: 767.98px) {
            flex-direction: column;   
            gap: 16px;     
        }
    }    
    &__column {
        flex: 0 1 50%;              
    }
    &__img {
        padding: 100px 0;
        border-radius: 24px;
        background: #F3DB66;
        @media (max-width: 991.98px) {
            padding: 60px 0;
            margin: 60px 0 0;
        }
        @media (max-width: 767.98px) {
            padding: 0px 0;
            margin: 50px 0 0;
            border-radius: 16px;
        }
        & img {
            @media (max-width: 991.98px) {
                width: 270px;
                height: 177px;
            }   
            @media (max-width: 767.98px) {
                display: block;
                margin: 0 auto; 
                border-radius: 16px;
            }         
        }
    }
    &__title {
        margin: 0;
        font-size: 56px;
        font-weight: 600;
        line-height: 100%; 
        padding-bottom: 40px;
        @media (max-width: 991.98px) {
            font-size: 30px;
            position: absolute;
            top: 0px;
            left: 0;
            padding: 0;
        }
        @media (max-width: 767.98px) {
            left: 15px;
        }
    }
    &__text {
        margin: 0;
        font-size: 24px;
        line-height: 140%; 
        padding-bottom: 16px;   
        @media (max-width: 991.98px) {
            font-size: 17px;            
            &:first-of-type {margin-top: 60px;}            
        }
        @media (max-width: 767.98px) {
            &:first-of-type {margin-top: 0px;} 
            font-size: 18px;  
            line-height: 150%; 
            &:last-of-type {padding-bottom: 32px;}
        }
    }    
    &__btn {
        margin: 30px 0 0;   
        @media (max-width: 991.98px) {
            margin: 18px 0 0;
        }    
    }
}



/*service===================================*/
.service {
    padding: 64px 0 100px;
    background-color: #3F78E3;
    @media (max-width: 991.98px) {
        padding: 32px 0;
    }
    @media (max-width: 767.98px) {
        padding: 40px 0;
    }
    &__header {
        margin: 0;
        color: #FFF;
        font-size: 56px;
        font-weight: 600;
        line-height: 100%;
        padding: 0 0 64px;
        @media (max-width: 991.98px) {
            font-size: 30px;
            padding: 0 0 40px;
        }
        @media (max-width: 767.98px) {
            font-size: 32px;
            padding: 0 0 24px;
        }
    }
    &__container {
        display: flex;
        gap: 30px;
        overflow: auto;
        @media (max-width: 767.98px) {
            flex-direction: column;            
            gap: 20px;
        }
    }
    &__column {
        flex: 0 4 25%;
        padding: 32px 24px;
        border-radius: 24px;
        background: #FFF;  
        display: flex; 
        flex-direction: column;
        justify-content:space-between;
        @media (max-width: 767.98px) {
            padding: 24px 24px 32px;
        }
    }
    &__title {
        margin: 0;
        padding-bottom: 24px;
        font-size: 32px;
        font-weight: 600;
        line-height: 130%; 
        @media (max-width: 991.98px) {            
            font-size: 24px;
        }
        @media (max-width: 767.98px) {
            font-size: 28px;
            padding-bottom: 16px;
        }
    }
    &__text {
        width: 200px;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 38px;
        @media (max-width: 991.98px) {            
            font-size: 16px;
            padding-bottom: 21px;
        }
        @media (max-width: 767.98px) {
            width: 100%;
            padding-bottom: 32px;
        }
    }
    &__link {        
        background-image: url("../images/arrowbtn.svg");
        background-size:contain;
        background-position:right;
        background-repeat: no-repeat;
        width: 74px;
        height: 74px;
        margin-left: auto;
        &:hover {
            background-image: url("../images/arrowbtnhover.svg");
            transition: ease 1s;
        }   
        @media (max-width: 991.98px) {
            width: 64px;
            height: 64px;
        }   
        @media (max-width: 767.98px) {
            width: 45px;
            height: 45px;
        }  
    }
    &__ellipse {
        display: none;        
        @media (max-width: 991.98px) {
            display: block;
            text-align: center;
            padding: 48px 0 0;
        }
        @media (max-width: 767.98px) {
            /*display: none;*/
        } 
        span {
            display: inline-block; 
            text-align: center;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                background-color: #FFFFFF;
            }               
        }
    }
}


/*customer===================================*/
.customer {
    padding: 100px 0;
    @media (max-width: 991.98px) {
        padding: 64px 0;
    }
    @media (max-width: 767.98px) {
        padding: 60px 0;
    }
    &__title {
        margin: 0;
        font-size: 56px;
        font-weight: 600;
        line-height: 100%;
        padding-bottom: 40px;
        @media (max-width: 991.98px) {
            font-size: 30px;
            padding-bottom: 24px;
        }
        @media (max-width: 767.98px) {
            font-size: 32px;
            padding: 60px 0 16px;
        }
    }
    &__text {
        margin: 0;
        width: 630px;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        padding-bottom: 40px;
        @media (max-width: 991.98px) {
            font-size: 17px;
            padding-bottom: 32px;
        }
        @media (max-width: 767.98px) {
            font-size: 18px;
            padding-bottom: 20px;
            width: 100%;
        }
    }
    &__container {
        display: flex;             
        gap: 140px;
        @media (max-width: 991.98px) {
            gap: 30px;
        }  
        @media (max-width: 767.98px) {
            display: block;
        }  
    }
    &__column {
        flex: 0 1 50%;
    }
    &__content {        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
        @media (max-width: 991.98px) {
            gap: 24px;
        }
        @media (max-width: 767.98px) {
            gap: 20px;            
        }
    }
    &__name {        
        margin: 0;
        width: 100%;
        padding: 32px 48px;
        border-radius: 16px;        
        background: #F3F5FA;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        @media (max-width: 991.98px) {            
            padding: 20px 32px;
            font-size: 21px;
        }
        @media (max-width: 767.98px) {
            padding: 24px 16px;
            font-size: 18px;
        }   
    }
    &__color1 {
        border-left: 7px solid #F6D000;
    }
    &__color2 {
        border-left: 7px solid #41C6E0;
    }
    &__color3 {
        border-left: 7px solid #FFEB43;
    }
    &__color4 {
        border-left: 7px solid #3F78E3;
    }
    &__img {         
        img {
            height: 100%;             
            @media (max-width: 991.98px) {
                width: 100%;
            }
        } 
        @media (max-width: 767.98px) {
            display: none;
        }
    }
}


/*proekt===================================*/
.proekt {
    padding: 0px 0 100px;
    @media (max-width: 991.98px) {
        padding: 0px 0 64px;
    }
    @media (max-width: 767.98px) {
        padding: 0 0 60px;
    }
    &__title {
        margin: 0;
        font-size: 56px;
        font-weight: 600;
        line-height: 130%;   
        @media (max-width: 991.98px) {
            font-size: 30px;            
        }  
        @media (max-width: 767.98px) {
            padding: 60px 0 0;
            font-size: 32px;
            font-weight: 600;
            line-height: 125%;  
        }   
    }
    &__container {
        display: flex;        
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap; 
        gap: 10px;          
        @media (max-width: 767.98px) {
            flex-wrap: nowrap; 
            overflow: auto;            
            gap: 67px;
            margin-bottom: 24px; 
        }          
    }
    &__column { 
        flex: 0 1 20%;   
        padding: 50px 0 0;    
        @media (max-width: 991.98px) {
            padding: 30px 0 0;  
        }  
        @media (max-width: 767.98px) {
            margin: 16px 0;
            padding: 24px 0;
        }  
    }    
    &__img1 {
        border-radius: 24px;
        background: #D8D8D8;
        padding: 155px 280px;  
        flex-grow: 1;      
        @media (max-width: 991.98px) {
            padding: 55px 45px;  
        } 
        @media (max-width: 767.98px) {            
            border-radius: 16px;
            background: none;
            padding: 0 0 20px;
        }
        img {
            @media (max-width: 767.98px) {
                width: 295px;
                height: 171px;
            }
        }
    }   
    &__img2 {
        border-radius: 24px;
        background-color: rgba(83, 133, 227, 0.60);
        padding: 33px 100px;    
        @media (max-width: 991.98px) {
            padding: 32px 77px;  
        } 
        @media (max-width: 767.98px) {
            border-radius: 16px;
            background: none;
            padding: 0 0 0px;            
        }              
        img {
            @media (max-width: 991.98px) {
                width: 116px;
                height: 224px;
            }     
            @media (max-width: 767.98px) {
                width: 295px;
                height: 171px;
            }           
        }        
    }   
    &__img3 {
        border-radius: 24px;
        background: rgba(122, 215, 233, 0.60);
        padding: 30px 108px; 
        @media (max-width: 991.98px) {
            padding: 32px 50px; 
        }
        @media (max-width: 767.98px) {
            border-radius: 16px;
            background: none;
            padding: 0 0 0px;            
        } 
        img {
            @media (max-width: 991.98px) {
                width: 168px;
                height: 224px;
            }
            @media (max-width: 767.98px) {
                width: 295px;
                height: 171px;
            }
        }
    }    
    &__img4 {
        border-radius: 24px;
        background: rgba(255, 235, 67, 0.60);
        padding: 50px; 
        @media (max-width: 991.98px) {
            padding: 42px 40px; 
        }
        @media (max-width: 767.98px) {
            border: 1px solid black;
            border-radius: 16px;
            background: none;
            padding: 0 0 0px;            
        } 
        img {
            @media (max-width: 991.98px) {
                width: 330px;
                height: 208px;
            }
            @media (max-width: 767.98px) {
                width: 295px;
                height: 171px;
            }
        }
    }
    &__name {
        margin: 0;
        padding: 24px 0 16px;
        font-size: 32px;
        font-weight: 500;
        line-height: 100%;     
        @media (max-width: 991.98px) {
            padding: 16px 0 12px;
            font-size: 24px;
        }   
        @media (max-width: 767.98px) {
            padding: 20px 0 12px;
            font-size: 20px;
        }
    }
    &__text {
        margin: 0;
        font-size: 21px;
        line-height: 140%;  
        @media (max-width: 991.98px) {
            font-size: 17px;
        } 
        @media (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    &__btn {
        margin-top: 50px; 
        @media (max-width: 991.98px) {
            margin-top: 32px; 
        }
        @media (max-width: 767.98px) {
            margin-top: 24px; 
        }
    }
}
/*.home-projects {
    display: none;
    @media (max-width: 767.98px) {
        display: block;
    }
    &__title {
        padding-bottom: 48px;
        @media (max-width: 767.98px) {
            padding-bottom: 16px;
        }        
    }    
    &__wrapper {
        padding-bottom: 50px;  
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 767.98px) {
            flex-wrap: nowrap;
        }              
    }    
    &__slide {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        &:first-child {
            min-width: 850px; 
            min-height: 485px;
            @media (max-width: 991.98px) {
                min-width: 390px; 
                min-height: 288px;
            }
            @media (max-width: 767.98px) {
                min-width: 100%;
                min-height: 473px;
            }    
        }
        &:nth-child(n+2) {
            min-width: 350px;
            min-height: 485px;
            @media (max-width: 991.98px) {
                min-width: 270px;                 
            }
            @media (max-width: 767.98px) {
                min-width: 100%;
                min-height: 473px;
            }
        }        
        &:nth-child(4) {
            min-width: 850px; 
            height: 100%;
            @media (max-width: 991.98px) {
                min-width: 390px; 
                min-height: 288px;
            }
            @media (max-width: 767.98px) {
                min-width: 100%;
                min-height: 473px;
            }            
        }      
        @media (max-width: 767.98px) {  
            gap: 0px;          
            padding: 24px;              
            border-radius: 16px;
            background: #FFF;
            box-shadow: 0px 4px 25px 0px rgba(44, 44, 44, 0.11); 
        }              
    }
    &__img {  
        position: relative;  
        margin-bottom: 20px;   
        height: 485px;
        @media (max-width: 991.98px) {
            height: 288px;
        }   
        @media (max-width: 767.98px) {
            height: 171px;             
        }     
        img {            
            object-fit: cover;
            width: 100%;
            height: 100%;  
            @media (max-width: 767.98px) {
                max-width: 100%;                          
            }           
        }
    }  
    &__name {
        margin: 0 0 12px 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%; 
    }
    &__description {
        margin: 0 0 32px;
        font-size: 16px;
        line-height: 150%;
    }
    &__button-site {
                
        border: 1px solid #3F78E3;
        background-color: #FFF;
        color: #3F78E3; 
        @media (max-width: 767.98px) {
            width: 90%;
            position: fixed;
            bottom: 24px;
        }        
        &:visited {
            color: #3F78E3;
        }
        &:hover {
            background: #4675EB;            
            background: #4675EB;
            box-shadow: 0px 4px 25px 0px rgba(44, 44, 44, 0.11);
            color: #FFFFFF;
        }
    }   
    &__button2 {
        margin-top: 24px;
    }
}
.swiper-slide {    
    box-sizing: border-box;    
}
.home-projects__pagination .swiper-pagination-bullet {
    border: 2px solid #3F78E3;
    background-color: #FFF;
    padding: 6px;
    margin-top: 16px;
}
.home-projects__pagination .swiper-pagination-bullet-active {
    background-color: #3F78E3;
    padding: 6px;
} */

/*Compliment============================*/
.compliment {
    background: #3F78E3;
    @media (max-width: 767.98px) {
        padding: 40px 0;  
        margin: 60px 0 0;           
    } 
    &__container {
        padding: 64px 0 100px;
        @media (max-width: 991.98px) {
            padding: 46px 0 32px;
        }   
        @media (max-width: 767.98px) {
            margin: 60px 0;            
        }    
    }
    &__header {
        margin-bottom: 64px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        @media (max-width: 991.98px) {
            margin-bottom: 40px;
        }
        @media (max-width: 767.98px) {
            margin-bottom: 24px;
        }
    }
    &__title {
        margin: 0;
        color: #FFF;
        font-size: 56px;
        font-weight: 600;
        line-height: 100%; 
        @media (max-width: 991.98px) {
            font-size: 30px;
        }
        @media (max-width: 767.98px) {
            font-size: 32px;
        }
    }
    &__arrow {
        @media (max-width: 991.98px) {
            display: none;
        }
    }
    &__forward {
        background-image: url(../images/forward.avif);
        background-repeat: no-repeat;
        background-position: center;        
        padding: 0 40px 0;
    }
    &__back {
        background-image: url(../images/back.avif);
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 40px 0;
    }
    &__content {
        display: flex;        
        align-items: stretch;
        justify-content: space-between;        
        @media (max-width: 991.98px) {            
            padding: 0 0 64px;
        }
        @media (max-width: 767.98px) {
            padding: 0 0 32px;
        }
    }
    &__column {        
        /*flex: 0 1 35%;*/
        height: 100%;
        display: flex;                    
        justify-content: space-between;
        border-radius: 24px;
        background: #FFF;
        padding: 40px 24px;
        gap: 8px;
        @media (max-width: 991.98px) {
            flex: 0 0 45%;
            padding: 32px 20px;
        }
        @media (max-width: 767.98px) {
            flex: 0 0 100%;
            padding: 48px 24px;         
        }
        img {width: 30px; height: 20px;}
    }  
    &__info {
        display: flex;
        flex-direction: column;  
        justify-content:space-between;        
        gap: 32px;
        @media (max-width: 991.98px) {
            gap: 16px;
        }
        @media (max-width: 767.98px) {
            gap: 56px;
        }
    }  
    &__text { 
        margin: 0;    
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        @media (max-width: 991.98px) {
            font-size: 16px;
        }        
    }
    &__avatar {        
        display: flex;        
        align-items: flex-start;
        gap: 20px;  
        @media (max-width: 991.98px) {
            gap: 12px;
        }      
        img {
            width: 56px; 
            height: 56px;
            @media (max-width: 767.98px) {
                width: 42px; 
                height: 42px;
            }
        }
    }   
    &__name {
        margin: 0 0 8px;
        color: #3F78E3;
        font-size: 20px;
        font-weight: 600;
        @media (max-width: 991.98px) {
            font-size: 12px;
        } 
        @media (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    &__position {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        @media (max-width: 991.98px) {
            font-size: 14px;
        } 
    }
}

.swiper-pagination {    
    span { 
        width: 16px;
        height: 16px;
    }    
}
.swiper-pagination-bullet {
    border: 2px solid #FFFFFF;
    background-color: #3F78E3; 
}
.swiper-pagination-bullet-active {
    background-color: #FFFFFF;
}
.compliment .swiper-pagination {
    bottom: 0px; 
    line-height: 0;   
}  
.swiper-autoheight .swiper-wrapper {    
    align-items: stretch;    
}


/*joining========================================*/
.joining {   
    padding: 0 0 100px;    
    @media (max-width: 991.98px) {
        padding: 0 0 64px;
    }
    @media (max-width: 767.98px) {
        padding: 0 15px 60px 15px;        
    }   
    &__container {
        border-radius: 16px;
        background: #F3F5FA;
        padding: 32px 48px;
        position: relative;     
        @media (max-width: 991.98px) {
            padding: 24px 30px;
        }  
        @media (max-width: 767.98px) {
            padding: 40px 24px;
        }
    }
    &__title {
        margin: 0 0 20px;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        position: relative;
        z-index: 5;
        @media (max-width: 991.98px) {
            margin: 0 0 16px;
            font-size: 24px;
            width: 510px;
        }
        @media (max-width: 767.98px) {
            font-size: 20px;
            font-weight: 600;
            line-height: 150%;
            width: 100%;
        }
    }
    &__text {        
        width: 796px;
        position: relative;
        z-index: 5;
        @media (max-width: 991.98px) {
            width: 510px;           
        }
        @media (max-width: 767.98px) {
            width: 100%;
        }
    }
    &__button {
        margin-top: 32px;        
        border: 2px solid #3F78E3;
        background-color: #F3F5FA;
        color: #4675EB;         
        &:visited {
            color: #4675EB;
        }       
        &:hover {
            background: #4675EB;        
            color: #FFFFFF;
        } 
        @media (max-width: 991.98px) {            
            margin-top: 24px;  
        }
        @media (max-width: 767.98px) {     
            margin-top: 32px; 
            background: #3F78E3;
            color: #FFF;
            &:visited {
                color: #FFF;
            }
            &:hover {
                border: 2px solid #FECE00;
                background: #FECE00;
                box-shadow: 0px 4px 25px 0px rgba(44, 44, 44, 0.11);
                color: #2C2C2C;
            } 
        }        
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 190px;
        height: 198px;
        z-index: 1;
        @media (max-width: 991.98px) {            
            width: 120px;
            height: 120px;
        }
        @media (max-width: 767.98px) {
            width: 80px;
            height: 80px;
        }
    }
}



/*Question============================*/
.question {
    padding: 100px 0;
    @media (max-width: 991.98px) {
        padding: 64px 0;
    }    
    &__header {
        margin: 0;
        padding: 0 0 48px;
        font-size: 56px;
        font-weight: 600;
        line-height: 100%;
        @media (max-width: 991.98px) {
            padding: 0 0 40px;
            font-size: 30px;
        }
        @media (max-width: 767.98px) {
            padding: 60px 0 16px;
            font-size: 32px;
        }
    }    
    &__column {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;        
        margin-bottom: 40px;
        padding: 32px 48px;
        border-radius: 16px;
        border-left: 7px solid #3F78E3;
        background: #F3F5FA;
        &:last-child {
            margin-bottom: 0px;
        }
        @media (max-width: 991.98px) {
            padding: 32px;
            margin-bottom: 32px;
        }
        @media (max-width: 767.98px) {
            padding: 18px 8px 18px 16px;
            margin-bottom: 20px;
            gap: 10px;
        }
    }
    &__title {
        margin: 0;
        font-size: 32px;
        font-weight: 500;
        line-height: 100%; 
        @media (max-width: 991.98px) {
            font-size: 24px;
        }
        @media (max-width: 767.98px) {
            font-size: 18px;
        }
    }
    &__answer {
        margin: 24px 0 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        @media (max-width: 991.98px) {
            font-size: 18px;
        }
        @media (max-width: 767.98px) {
            margin: 14px 0 0;
            font-size: 16px;
        }
    }
    &__btn {       
        background-image: url(../images/question-plus.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
        padding: 12px;
        background-color: #FECE00;
        border: 1px solid #FECE00;
        border-radius: 50%;  
        @media (max-width: 767.98px) {
            width: 24px;
            height: 24px;
            padding: 16px;
        }
    }
   .question-minus {
        background-image: url(../images/question-minus.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;        
        padding: 20px;
        @media (max-width: 767.98px) {
            padding: 17px;
        }
    }
}
