@import '../../node_modules/swiper/swiper-bundle';

.menu {
    display: flex;
    justify-content: center;
}

.hello {
    color:#A52A2A;
    text-transform: uppercase;
}

.text {
    color:blueviolet;
}
